/* common shared styles */
body {
  font-family: "Lato", sans-serif;
}
* {
  padding: 0px;
  margin: 0px;
}


/* bonus css styles */
.bonus {
  background-color: rgba(229, 84, 115, 0.1);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 180px;
}
nav h3 {
  color: #181818;
  font-size: 90px;
  font-weight: 800;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
  font-size: 30px;
  font-weight: 700;
}
nav a {
  text-decoration: none;
}
.bonus-sp-color {
  color: #e55473;
  font-size: 90px;
  font-weight: 800;
}
.btn-bonus {
  display: inline-flex;
  padding: 18px 38px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 6px;
  background: #e55473;
  color: white;
  font-size: 15px;
  font-weight: 400;
  border: 0;
}


/* first css styles -- introduction */
.first {
  background-color: rgba(229, 84, 115, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 70px 180px 0px 180px;
  margin-bottom: 180px;
}
.first-heading {
  color: #272727;
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 20px;
}
.first-writings {
  color: rgba(39, 39, 39, 0.6);
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 20px;
}
.first-pictures {
  width: 50%;
  margin-left: 180px;
}
.first-pic-align {
  width: 80%;
}
.first-description {
  width: 50%;
}
.btn-shop {
  display: inline-flex;
  padding: 18px 38px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 6px;
  background: #e55473;
  color: white;
  font-size: 15px;
  font-weight: 400;
  border: 0;
}


/* second css styles -- featured flower */
.second-heading {
  color: #272727;
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 20px;
}
.second-writings {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
}
.second-pictures {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding-bottom: 20px;
  margin-right: 25px;
}
.sec-pic-1,
.sec-pic-2,
.sec-pic-3 {
  border-radius: 300px 300px 0px 0px;
  width: 350px;
  height: 360px;
  margin-right: 8px;
}
.sec-pic-1 {
  background-color: #f2dee7;
}
.sec-pic-2 {
  background-color: #d9eff1;
}
.sec-pic-3 {
  background-color: #e3ebdb;
}
.sec-pic-1 img {
  height: 300px;
  padding: 60px 20px 0px 45px;
}
.sec-pic-2 img {
  height: 300px;
  padding: 50px 0px 0px 20px;
}
.sec-pic-3 img {
  height: 300px;
  padding: 60px 0px 0px 60px;
}
.sec-pic-1 p,
.sec-pic-2 p,
.sec-pic-3 p {
  text-align: center;
  text-decoration: underline;
  font-weight: 600;
  margin-top: 25px;
  font-size: 20px;
}


/* third css styles -- optional section*/
.third {
  width: 70%;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #2727270d;
  margin-left: 196px;
  padding-right: 34px;
  margin-top: 128px;
}
.third-pic-1,
.third-pic-2,
.third-pic-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.third-pic-1,
.third-pic-2,
.third-pic-3 p {
  color: rgba(39, 39, 39, 0.8);
  font-size: 16px;
  font-weight: 600;
}
.third-pic-1,
.third-pic-2 img {
  width: 30%;
  height: 30%;
}
.third-pic-3 img {
  width: 50%;
  height: 50%;
}
.third-pic-1 p {
  margin-top: 15px;
  margin-bottom: 10px;
}
.third-pic-2 p {
  padding-top: 15px;
}
.third-pic-3 p {
  padding-top: 15px;
}


/* fourth css styles -- hot deals -- roses  */
.fourth {
  display: flex;
    height: 440px;
    width: 100%;
    background-color: #FEF6F8;
    margin-top: 80px;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}
.fourth-heading {
    font-weight: bold;
    font-size: 24px;
}
.fourth-writings {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 20px;
}
.fourth-description {
  text-align: center;
  width: 400px;
  padding-left: 350px;
}
.fourth-picture {
  width: 50%;
  align-items: center;
  margin-left: 150px;
}
.pink-color {
  color: #e55473;
  font-size: 24px;
  font-weight: 800;
}
.btn-sign {
  padding: 18px 38px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 6px;
  background: #e55473;
  color: white;
  font-size: 15px;
  font-weight: 400;
  border: 0;
}


/* fifth css styles -- instagram section */
.fifth-description {
  width: 410px;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 25px;
}
.fifth-description h2 {
  font-weight: 700;
  font-size: 35px;
}
.fifth-description p {
  color: rgba(39, 39, 39, 0.60);
  margin-top: 7px;
  font-size: 15px;
  padding-top: 15px;
  padding-bottom: 5px;
  font-weight: 400;
  line-height: 20px;
}
.fifth-pictures {
  width: 60%;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 290px;
  padding-right: 10px;
  margin-top: 40px;
  gap: 23px;
}
.fifth-pic {
  width: 320px;
  height: 300px;
  padding-top: 20px;
}


/* sixth css styles -- get the latest deals -- email */
.sixth {
  width: 73.5%;
  height: 350px;
  margin: 150px 10px 90px 190px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("images/Rectangle\ 9.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.sixth h1 {
  color: #272727;
  text-align: center;
  font-size: 38px;
  font-weight: 800;
}
.sixth p {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
.sixth-form {
  padding-top: 10px;
  display: flex;
  gap: 10px;
}
.email {
  width: 530px;
  height: 45px;
  border-radius: 7px;
  border: none;
  margin-top: 15px;
}
.sixth-btn {
  border-radius: 8px;
  padding: 5px 28px;
  font-size: 15px;
  margin-top: 14px;
  background: #e55473;
  color: white;
  border: none;
}
.footer-section {
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.9);
  background-color: #111010;
  font-size: 25px;
}
.footer-section p {
  width: 500px;
  height: 100px;
  font-size: 17px;
  color: rgb(190, 187, 187);
  text-align: center;
  margin-top: 15px;
}
.footer {
  color: rgba(255, 255, 255, 0.4);
  font-size: 15px;
}
.footer-pink-word {
  color: #e55473;
  font-size: 55px;
  font-weight: 800;
}
