/* common shared styles */
body {
  font-family: "Lato", sans-serif;
}
.btn-primary {
  display: inline-flex;
  padding: 18px 38px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 6px;
  background: #e55473;
  color: white;
  font-size: 15px;
  font-weight: 400;
  border: 0;
}

/* first css styles */
.first {
  background-color: rgba(229, 84, 115, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 70px 180px 0px 180px;
  margin-bottom: 180px;
}
.first-heading {
  color: #272727;
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 20px;
}
.first-writings {
  color: rgba(39, 39, 39, 0.6);
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 20px;
}
.first-pictures {
  width: 50%;
  margin-left: 120px;
}
.first-pic-align {
  width: 80%;
}
.first-description {
  width: 50%;
}

/* second css styles */
.second-heading {
  color: #272727;
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 20px;
}
.second-writings {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
}
.sec-pic-1 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  width: 33%;
}
.sec-pic-2 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  margin-left: 20px;
  margin-right: 20px;
  width: 33%;
}
.sec-pic-3 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  width: 33%;
}
.second-pictures {
  display: flex;
  padding: 0px 180px;
  align-items: stretch;
}
.second-pictures img {
  height: 100%;
  width: auto;
}
.sec-pic-caption {
  color: #272727;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  text-decoration-line: underline;
}
